@model UpSertModel
@{
    @* ViewData["Title"] = Model.CurrentPosition == "Insert" ? "Insert" : "Update"; *@
    ViewData["Title"] = Model.CurrentPosition;
}

<form asp-action="@Model.CurrentPosition" method="post">
    @if(Model.CurrentPosition != "Insert"){
        <input asp-for="User.Id" style="display: none;">
    }
    <div class="form-control">
        <label asp-for="User.FirstName">firstname : </label>
        <input asp-for="User.FirstName">
    </div>
    <div class="form-control">
        <label asp-for="User.LastName">lastname : </label>
        <input asp-for="User.LastName">
    </div>
    <div class="form-control">
        <label asp-for="User.BirthDate">birthdate : </label>
        <input asp-for="User.BirthDate">
    </div>
    @if(Model.CurrentPosition != "Insert"){
        <div class="form-control">
            <label asp-for="User.IsActive">IsActive : </label>
            <select asp-for="User.IsActive">
                <option value="1">Active</option>
                <option value="0">DeActive</option>
            </select>
        </div>
    }
    <button type="submit">Submit</button>
</form>