@{
    ViewData["Title"] = "Data Users";
}

<div class="text-center">
    <h1 class="display">Data Users</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis explicabo at enim voluptas excepturi qui optio necessitatibus eveniet, hic similique sapiente est eius voluptates officia modi! Ipsa modi delectus expedita.</p>
</div>
