@{
    ViewData["title"] = "Insert Data User";
}

@model UserViewModel

<div class="container">
    <h1>Inserting New Data User</h1>
    <form action="" method="post">
        <div class="group-control">
            <label for="firstname">firstname</label>
            <input type="text" name="firstname">
        </div>
        <div class="group-control">
            <label for="lastname">lastname</label>
            <input type="text" name="lastname">
        </div>
        <div class="group-control">
            <label for="birthdate">birthdate</label>
            <input type="date" name="birthdate">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>